/* App.css */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.main-content {
  flex-grow: 1; /* Makes it grow and fill the remaining space */
  padding: 2rem;
  overflow-y: auto; /* Ensures the content can scroll if it overflows */
  display: flex;
  justify-content: center; /* Centers the Profile component horizontally */
  align-items: center; /* Centers the Profile component vertically */
}

.App-header {
  margin-bottom: 2rem;
}
