/* src/App.css */
.App {
  font-family: sans-serif;
  text-align: center;
  padding-top: 70px; /* Space for the fixed navbar */
  padding-bottom: 80px; /* Space for the footer */
}

.App-header {
  background-color: #f3f3f3;
  padding: 20px;
}

section {
  padding: 40px;
  margin: 40px 0;
  background-color: #fafafa;
  border-radius: 8px;
}

h1, h2 {
  color: #333;
}
