/* src/Footer.css */
.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .social-button {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
  }
  
  .social-button:hover {
    background-color: #555;
  }
  
  .github:hover {
    background-color: #333;
  }
  
  .linkedin:hover {
    background-color: #0077b5;
  }
  
  .instagram:hover {
    background-color: #e4405f;
  }
  
  .twitter:hover {
    background-color: #1da1f2;
  }
  
  .social-button .svg-inline--fa {
    font-size: 1.5rem;  /* Adjust the icon size */
  }
  